/* 
    文件名（不包含.module.css）_类名_hash值
*/
.container .box {
    background-color: lightblue;
}

.container .box .title {
    font-size: 20px;
    color: lightcoral;
}

.container .box .menu {
    background-color: aqua;
}

.container .box .menu .item {
    color: cadetblue;
}

.container .box .menu .item:hover {
    background-color: antiquewhite;
}

